<section class="main-container page-width">
  <div class="product-img-container">
    <img class = "prod-img" id="prodImg" src="https://cdn.shopify.com/s/files/1/0671/2036/5784/files/Group2.png?v=1699897861" alt="">

    <img id="canvas" style="display: none; width:100%; padding:20px">


        <div class="process-generating-area" id="loaderDiv" >
        <div class="process-generating-inner-wrapper">
          <img id="loadingImage" style=" width: 40px; height: auto;" src={{ 'loader.gif' | asset_url }} alt="Loading GIF"  />
          <p id="responseMessage" style="display: none;"></p>
          <p id="loadingText" >Please wait... <br/>  This may take upto 30 Seconds...
          </p> 
        </div>
        </div>
  </div>


  <div class="component-container">


    {% comment %}------------------------------  COMPONENT-2 START -------------------------- {% endcomment %}
    <div class="component component-2" id="component-2">
      <h3 class="component-heading ">Yearbook Photo Framed</h3>
      <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>

      {% comment %} variant pickers {% endcomment %}

      <div class="variant-picker">

        <span class="variant-title">Location</span>
        <button class="variant">
          <div class="left-view small-size"></div>
          <span class="button-text">London</span>
        </button>

        <button class="variant ">
          <div class="left-view medium-size"></div>
          <span class="button-text">Paris</span>
        </button>

        <button class="variant">
          <div class="left-view large-size"></div>
          <span class="button-text">New York</span>
        </button>

        <button class="variant">
          <div class="left-view large-size"></div>
          <span class="button-text">Tokyo</span>
        </button>
      </div>


      <div class="price-next-prev-container">
        {% comment %} price {% endcomment %}
        <div
          class="no-js-hidden"
          id="price-{{ section.id }}"
          role="status"
          {{ block.shopify_attributes }}>
          {%- render 'price'
            ,
 product: product
            ,
 use_variant: true
            ,
 show_badges: true
            ,
 price_class: 'price--large'
          -%}
        </div>
        {%- if product.quantity_price_breaks_configured? -%}
          <div class="volume-pricing-note">
            <span>{{ 'products.product.volume_pricing.note' | t }}</span>
          </div>
        {%- endif -%}
        <div class="product__tax caption rte">
          {%- if cart.taxes_included -%}
            {{ 'products.product.include_taxes' | t }}
          {%- endif -%}
          {%- if shop.shipping_policy.body != blank -%}
            {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
          {%- endif -%}
        </div>
        <div {{ block.shopify_attributes }}>
          {%- assign product_form_installment_id = 'product-form-installment-' | append: section.id -%}
          {%- form 'product'
            , product
            , id: product_form_installment_id
            , class: 'installment caption-large' -%}
            <input
              type="hidden"
              name="id"
              value="{{ product.selected_or_first_available_variant.id }}">
            {{ form | payment_terms }}
          {%- endform -%}
        </div>

        {% comment %} price-end {% endcomment %}
        <div class="next-prev-btn">
              
            <button id="nextBtn1" class="next-btn">Next</button>
         

        </div>
      </div>


    </div>
    {% comment %}------------------------------  COMPONENT-2 END -------------------------- {% endcomment %}


    {% comment %}------------------------------  COMPONENT-5 START -------------------------- {% endcomment %}
    <div class="component component-5" id="component-5">

      <h3 class="component-heading ">Yearbook Photo Framed</h3>
      <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
      <!-- upload photo -->
      <div class="image-upload input-container section-container">
        <input
          type="file"
          id="image"
          name="image"
          class="img-input-field"
          accept="image/*"
          onchange="checkImageUpload()"
          required>
        <label id="file-input-label" for="image">
          <i class="fa-solid fa-upload"></i>
          Upload your image</label>
        <div id="uploadMessage"></div>
      </div>

      <!-- input name -->
      <div class="name-input input-container">
        <label for="name" class="lable">Name</label>
        <br>
        <input
          type="text"
          id="name"
          name="name">
      </div>

      <!-- input remarks -->
      <div class="remark-input input-container">

        <label for="remarks" class="lable">Remarks</label><br>
        <textarea
          id="remarks"
          name="remarks"
          rows="6"
          cols="50"></textarea>
      </div>


      <div class="price-next-prev-container">
        {% comment %} price {% endcomment %}
        <div
          class="no-js-hidden"
          id="price-{{ section.id }}"
          role="status"
          {{ block.shopify_attributes }}>
          {%- render 'price'
            ,
 product: product
            ,
 use_variant: true
            ,
 show_badges: true
            ,
 price_class: 'price--large'
          -%}
        </div>
        {%- if product.quantity_price_breaks_configured? -%}
          <div class="volume-pricing-note">
            <span>{{ 'products.product.volume_pricing.note' | t }}</span>
          </div>
        {%- endif -%}
        <div class="product__tax caption rte">
          {%- if cart.taxes_included -%}
            {{ 'products.product.include_taxes' | t }}
          {%- endif -%}
          {%- if shop.shipping_policy.body != blank -%}
            {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
          {%- endif -%}
        </div>
        <div {{ block.shopify_attributes }}>
          {%- assign product_form_installment_id = 'product-form-installment-' | append: section.id -%}
          {%- form 'product'
            , product
            , id: product_form_installment_id
            , class: 'installment caption-large' -%}
            <input
              type="hidden"
              name="id"
              value="{{ product.selected_or_first_available_variant.id }}">
            {{ form | payment_terms }}
          {%- endform -%}
        </div>

        {% comment %} price-end {% endcomment %}
        <div class="next-prev-btn">
       
            <button id="backBtn1"class="back-btn"><i class="fa-solid fa-less-than"></i> &nbsp; Back</button>
            <button id="generate" class="next-btn" onclick= generateImage() disabled>Generate</button>


        </div>
      </div>
    </div>
  </div>
{% comment %}------------------------------  COMPONENT-5 END -------------------------- {% endcomment %}

</section>
<script>
   
  const imageInput = document.getElementById("image");
  const uploadMessage = document.getElementById("uploadMessage");
  const generateButton = document.getElementById("generate");

function checkImageUpload() {
    if (imageInput.value) {
    uploadMessage.textContent = "Image uploaded";
    generateButton.removeAttribute("disabled");
  }else {
    uploadMessage.textContent = "";
    generateButton.setAttribute("disabled", "disabled");
  }
}

  finalPrompt = "a young woman with long brown hair and green eyes wearing a blue sweater and a pearl necklace in a 1980s yearbook photo with a pink background and a star filter lora:LowRA:0.7"

  async function generateImage() {
    loaderDiv.style.display = "block";
    responseMessage.style.display = "block";
    const imageInput = document.getElementById("image");
    console.log('clicked')
    
    const formData = new FormData();

    formData.append("image", imageInput.files[0]);
    formData.append("prompt", finalPrompt);

    const response = await fetch("https://ilusta.roosterapps.online/img2img.php", {
        method: "POST",
        body: formData
    });

    if (response.ok) {
        document.getElementById("responseMessage").textContent = "Request Sent!";
        const data = await response.json();

        const status = data.status;

        if (status === "success") {
            document.getElementById("responseMessage").textContent = "Generated Successfully!";
            const url = data.output[0];
            const output = document.getElementById('canvas');
            output.src = url;
            console.log(url)

            setTimeout(() => {
                canvas.style.display = "block";
                prodImg.style.display = "none";
                loaderDiv.style.display = "none";
                document.getElementById("responseMessage").textContent = "";
            }, 8000);
        }

        if (status === "Processing") {
            const fetch_url = data.fetch_url;

            async function checkStatusAndFetch() {
                const apiUrl = "https://ilusta.roosterapps.online/router.php";

                const postData = {
                    fetch_url: fetch_url,
                };

                const formData = new URLSearchParams();
                for (const key in postData) {
                    formData.append(key, postData[key]);
                }

                const response = await fetch(apiUrl, {
                    method: "POST",
                    body: formData,
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded",
                    },
                });

                if (response.ok) {
                    const responseData = await response.json();

                    if (responseData.status === "success") {
                        document.getElementById("responseMessage").textContent = "Generated Successfully!";
                        clearInterval(imageLoadCheckInterval);
                        const url = responseData.output;
                        const output = document.getElementById('canvas');
                        output.src = url;
                      console.log(url)

                        setTimeout(() => {
                           canvas.style.display = "block";
                            prodImg.style.display = "none";
                            loaderDiv.style.display = "none";
                            document.getElementById("responseMessage").textContent = "";
                        }, 5000);
                    }
                } else {
                    console.error("Fetch failed with status:", response.status);
                }
            }

            const imageLoadCheckInterval = setInterval(checkStatusAndFetch, 5000);
        }
    }
}



  
</script>

{% schema %}
  {
    "name": "Test",
    "settings": [],
    "presets": [
      {
        "name": "Test"
      }
    ]
  }
{% endschema %}


{% javascript %}


  let currentComponent = 1;

  allComponents = document.querySelectorAll('.component');

  function showCurrentComponent() {

    allComponents.forEach(component => {
      component.style.display = 'none';

    });

    document.querySelector(`#component-${currentComponent}`).style.display = 'block';

  }

  function handleNextClick(event) {
    if (currentComponent < 5) {
      event.preventDefault();
      currentComponent++;
      showCurrentComponent();

    }

  }

  function handleBackClick(event) {
    if (currentComponent > 1) {
      event.preventDefault();
      currentComponent--;
      showCurrentComponent();
    }
  }


  document.getElementById('nextBtn1').addEventListener('click', handleNextClick);
  document.getElementById('nextBtn2').addEventListener('click', handleNextClick);
  document.getElementById('nextBtn3').addEventListener('click', handleNextClick);
  document.getElementById('nextBtn4').addEventListener('click', handleNextClick);


  document.getElementById('backBtn1').addEventListener('click', handleBackClick);
  document.getElementById('backBtn2').addEventListener('click', handleBackClick);
  document.getElementById('backBtn3').addEventListener('click', handleBackClick);
  document.getElementById('backBtn4').addEventListener('click', handleBackClick);


  showCurrentComponent();
{% endjavascript %}