{{ 'section-product.css' | asset_url | stylesheet_tag }}


<section class="main-container page-width">
  <div class="product-img-container">
    <img class = "prod-img" src="https://cdn.shopify.com/s/files/1/0671/2036/5784/files/Group2.png?v=1699897861" alt="product-img">
  </div>


  <div class="component-container">

    {% comment %}------------------------------  COMPONENT-1 START -------------------------- {% endcomment %}
    <div class="component component-1" id="component-1">
      <h3 class="component-heading">Heading</h3>
      <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>

      {% comment %} variant pickers {% endcomment %}

      <div class="variant-picker">

        <span class="variant-title">City:</span>
        <div class="variant-btn-container">
            <button class="variant-btn">Galle</button>
            <button class="variant-btn">Colombo</button>
            <button class="variant-btn">Haguranketha</button>
            <button class="variant-btn">Thanamalwila</button>
        </div>
      </div>


      <div class="price-next-prev-container">
        {% comment %} price {% endcomment %}
        
        <div
          class="no-js-hidden component-price"
          id="price-{{ section.id }}"
          role="status"
          {{ block.shopify_attributes }}>
          {%- render 'price'
            ,
 product: product
            ,
 use_variant: true
            ,
 show_badges: true
            ,
 price_class: 'price--large'
          -%}
        </div>
        {%- if product.quantity_price_breaks_configured? -%}
          <div class="volume-pricing-note">
            <span>{{ 'products.product.volume_pricing.note' | t }}</span>
          </div>
        {%- endif -%}
        <div class="product__tax caption rte">
          {%- if cart.taxes_included -%}
            {{ 'products.product.include_taxes' | t }}
          {%- endif -%}
          {%- if shop.shipping_policy.body != blank -%}
            {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
          {%- endif -%}
        </div>
        <div {{ block.shopify_attributes }}>
          {%- assign product_form_installment_id = 'product-form-installment-' | append: section.id -%}
          {%- form 'product'
            , product
            , id: product_form_installment_id
            , class: 'installment caption-large' -%}
            <input
              type="hidden"
              name="id"
              value="{{ product.selected_or_first_available_variant.id }}">
            {{ form | payment_terms }}
          {%- endform -%}
        </div>

        {% comment %} price-end {% endcomment %}
        <div class="next-prev-btn">
            <button id="nextBtn1" class="next-btn">Next</button>
        </div>
      </div>
    </div>
    {% comment %}------------------------------  COMPONENT-1 END -------------------------- {% endcomment %}

    {% comment %}------------------------------  COMPONENT-2 START -------------------------- {% endcomment %}
    <div class="component component-2" id="component-2">
      <h3 class="component-heading ">Heading</h3>
      <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>

      {% comment %} variant pickers {% endcomment %}

      <div class="variant-picker">

      <span class="variant-title">City:</span>
      <div class="variant-btn-container">
          <button class="variant-btn">Galle</button>
          <button class="variant-btn">Colombo</button>
          <button class="variant-btn">Haguranketha</button>
          <button class="variant-btn">Thanamalwila</button>
      </div>
    </div>


      <div class="price-next-prev-container">
        {% comment %} price {% endcomment %}
        <div
          class="no-js-hidden"
          id="price-{{ section.id }}"
          role="status"
          {{ block.shopify_attributes }}>
          {%- render 'price'
            ,
 product: product
            ,
 use_variant: true
            ,
 show_badges: true
            ,
 price_class: 'price--large'
          -%}
        </div>
        {%- if product.quantity_price_breaks_configured? -%}
          <div class="volume-pricing-note">
            <span>{{ 'products.product.volume_pricing.note' | t }}</span>
          </div>
        {%- endif -%}
        <div class="product__tax caption rte">
          {%- if cart.taxes_included -%}
            {{ 'products.product.include_taxes' | t }}
          {%- endif -%}
          {%- if shop.shipping_policy.body != blank -%}
            {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
          {%- endif -%}
        </div>
        <div {{ block.shopify_attributes }}>
          {%- assign product_form_installment_id = 'product-form-installment-' | append: section.id -%}
          {%- form 'product'
            , product
            , id: product_form_installment_id
            , class: 'installment caption-large' -%}
            <input
              type="hidden"
              name="id"
              value="{{ product.selected_or_first_available_variant.id }}">
            {{ form | payment_terms }}
          {%- endform -%}
        </div>

        {% comment %} price-end {% endcomment %}
        <div class="next-prev-btn">
            <button id="backBtn1"class="back-btn"><i class="fa-solid fa-less-than"></i> &nbsp; Back</button>    
            <button id="nextBtn2" class="next-btn">Next</button>
         

        </div>
      </div>


    </div>
    {% comment %}------------------------------  COMPONENT-2 END -------------------------- {% endcomment %}

    
    {% comment %}------------------------------  COMPONENT-3 START -------------------------- {% endcomment %}

    <div class="component component-3" id="component-3">
      <h3 class="component-heading ">Heading</h3>
      <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>

      {% comment %} variant pickers {% endcomment %}

      <div class="variant-picker">

        <span class="variant-title">City:</span>
        <div class="variant-btn-container">
            <button class="variant-btn">Galle</button>
            <button class="variant-btn">Colombo</button>
            <button class="variant-btn">Haguranketha</button>
            <button class="variant-btn">Thanamalwila</button>
        </div>
      </div>


      <div class="price-next-prev-container">
        {% comment %} price {% endcomment %}
        <div
          class="no-js-hidden"
          id="price-{{ section.id }}"
          role="status"
          {{ block.shopify_attributes }}>
          {%- render 'price'
            ,
 product: product
            ,
 use_variant: true
            ,
 show_badges: true
            ,
 price_class: 'price--large'
          -%}
        </div>
        {%- if product.quantity_price_breaks_configured? -%}
          <div class="volume-pricing-note">
            <span>{{ 'products.product.volume_pricing.note' | t }}</span>
          </div>
        {%- endif -%}
        <div class="product__tax caption rte">
          {%- if cart.taxes_included -%}
            {{ 'products.product.include_taxes' | t }}
          {%- endif -%}
          {%- if shop.shipping_policy.body != blank -%}
            {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
          {%- endif -%}
        </div>
        <div {{ block.shopify_attributes }}>
          {%- assign product_form_installment_id = 'product-form-installment-' | append: section.id -%}
          {%- form 'product'
            , product
            , id: product_form_installment_id
            , class: 'installment caption-large' -%}
            <input
              type="hidden"
              name="id"
              value="{{ product.selected_or_first_available_variant.id }}">
            {{ form | payment_terms }}
          {%- endform -%}
        </div>

        {% comment %} price-end {% endcomment %}
        <div class="next-prev-btn">
            <button id="backBtn2"class="back-btn"><i class="fa-solid fa-less-than"></i> &nbsp; Back</button>
            <button id="add-to-cart" class="next-btn">ADD TO CART</button>
     

        </div>
      </div>


    </div>
    {% comment %}------------------------------  COMPONENT-3 END -------------------------- {% endcomment %}



   

</section>


{% schema %}
  {
    "name": "Product",
    "settings": [],
    "presets": [
      {
        "name": "product"
      }
    ]
  }
{% endschema %}

{% stylesheet %}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,500&display=swap');

 


{% endstylesheet %}

{% javascript %}


  let currentComponent = 1;

  allComponents = document.querySelectorAll('.component');

  function showCurrentComponent() {

    allComponents.forEach(component => {
      component.style.display = 'none';

    });

    document.querySelector(`#component-${currentComponent}`).style.display = 'block';

  } 

  function handleNextClick(event) {
    if (currentComponent < 3) {
      event.preventDefault();
      currentComponent++;
      showCurrentComponent();
      

    }

  }

  function handleBackClick(event) {
    if (currentComponent > 1) {
      event.preventDefault();
      currentComponent--;
      showCurrentComponent();
     
    }
  }


  document.getElementById('nextBtn1').addEventListener('click', handleNextClick);
  document.getElementById('nextBtn2').addEventListener('click', handleNextClick);
  
 


  document.getElementById('backBtn1').addEventListener('click', handleBackClick);
  document.getElementById('backBtn2').addEventListener('click', handleBackClick);
 


  showCurrentComponent();
{% endjavascript %}